<?xml version="1.0"?>
<!--
/**
 * Copyright © Theiconnz, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="addressfinder" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[Address Finder]]></label>
            <tab>theiconnztab</tab>
            <resource>Theiconnz_Addressfinder::config</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Google Address Finder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Api Key</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Please read <a href="https://developers.google.com/maps/documentation/javascript/places-autocomplete" target="_blank" alt="Autocomplete Documentation">Google Documentation</a>]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="limitcountries" translate="label" type="multiselect"
                       sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit Google address to Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <comment><![CDATA[Please select 5 Items or less. Select individual country in store view, if your site is multi store website.]]></comment>

                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
